.result p {
  display: block;
}

.results{
  background-color: lightgrey;
  width: 550px;
}

.playlist{
  margin-top: 50px;
  background-color: blue;
  color: white;
  width: 550px;
  display: block;
}

.playlist button{
  display: none;
}